<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<div class="container py-4">
  <h3><i class="fa-solid fa-key"></i> Change Password</h3>
  <% if (err) { %><div class="alert alert-danger"><%= err %></div><% } %>
  <% if (msg) { %><div class="alert alert-success"><%= msg %></div><% } %>

  <form method="post" action="/account/password" class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Old Password</label>
      <div class="input-group">
        <input type="password" class="form-control js-pw" name="old_password" required>
        <button class="btn btn-outline-secondary js-toggle" type="button" aria-label="Show/Hide"><i class="fa-solid fa-eye"></i></button>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <label class="form-label">New Password</label>
      <div class="input-group">
        <input type="password" class="form-control js-pw" name="new_password" required
               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{8,}$"
               title="At least 8 chars, 1 upper, 1 lower, 1 special">
        <button class="btn btn-outline-secondary js-toggle" type="button"><i class="fa-solid fa-eye"></i></button>
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Confirm Password</label>
      <div class="input-group">
        <input type="password" class="form-control js-pw" name="confirm_password" required>
        <button class="btn btn-outline-secondary js-toggle" type="button"><i class="fa-solid fa-eye"></i></button>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save</button>
      <a class="btn btn-secondary" href="/dashboard"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
  </form>
</div>
<script src="/vendor/bootstrap/bootstrap.bundle.min.js" defer></script>
<script src="/js/show-password.js" defer></script>
</html>
<%- include('../partials/foot') %>